.animation {
  position: relative;

  display: flex;

  width: 50%;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.landing-description {
  line-height: 25px;

  display: flex;
  flex-direction: column;

  width: 50%;
  height: 100%;
  margin-left: 10%;

  text-align: left;

  color: var(--primary-color);

  align-items: flex-end;
  justify-content: center;
}

.landing-description h1 {
  font-size: 48px;
  line-height: 1.1;

  align-self: flex-start;
}

.landing-description a {
  align-self: flex-start;
}

.icon {
  font-size: 4em; /* control icon size here */

  position: relative;

  display: inline-block;

  width: 12em;
  height: 10em;
}

.sun {
  position: absolute;
  top: 35%;
  left: 40%;

  width: 2.5em;
  height: 2.5em;

  animation: spin 12s infinite linear;

  border-radius: 50%;
  background: #f9d71c;
  box-shadow: 0 0 0 0.375em #f9d71c;
}

.rays {
  position: absolute;
  top: -2em;
  left: 50%;

  display: block;

  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;

  border-radius: 0.25em;
  background: #f9d71c;
  box-shadow: 0 5.375em #f9d71c;
}

.rays:before,
.rays:after {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 0.375em;
  height: 1.125em;

  content: "";
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;

  border-radius: 0.25em;
  background: #f9d71c;
  box-shadow: 0 5.375em #f9d71c;
}
.rays:before {
  transform: rotate(120deg);
}

#background-wrap {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding-top: 50px;
}

/* KEYFRAMES */

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;
}

.x2 {
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;
}

.x3 {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;
}

.x4 {
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;
}

.x5 {
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;
}

/* OBJECTS */

.cloud {
  position: relative;

  width: 350px;
  height: 120px;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #fff),
    color-stop(100%, #f1f1f1)
  );
  background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: linear-gradient(to bottom, #fff 5%, #f1f1f1 100%);
  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
}

.cloud:after,
.cloud:before {
  position: absolute;
  z-index: -1;

  content: "";

  background: #fff;
}

.cloud:after {
  top: -50px;
  left: 50px;

  width: 100px;
  height: 100px;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.cloud:before {
  top: -90px;
  right: 50px;

  width: 180px;
  height: 180px;

  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}
