.forecast-container {
  flex-direction: column;
}

.forecast-container h1 {
  font-size: 48px;
}

.forecast-container h2 {
  font-size: 36px;
}

.forecast-container__top {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 0.3;
}

.forecast-container__top__right {
  position: relative;
  flex: 0.5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 150px 0 0;
}

.forecast-container__top__right h3 {
  font-size: 1.5em;
}

.forecast-container__top__left {
  text-align: center;
  flex: 0.5;
}

.forecast__current-weather__animation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast-container__bottom {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex: 0.45;
  align-items: flex-start;
}

.forecast-container__buttons {
  flex: 0.15;
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.forecast-container__buttons button {
  background: none;
  border: none;
  margin-left: 50px;
  color: white;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.2s;
  padding-bottom: 5px;
}

.forecast-container__buttons button:hover {
  border-bottom: 3px solid #0093c98a;
}
