.search-container {
  flex-direction: column;
  justify-content: unset;
}

.search-wrapper {
  width: 50%;
  padding: 15px 20px;

  transition: height 0.3s linear;
  text-align: left;

  border-radius: 10px;
  background: var(--tertiary-color);
}

#search-input::selection {
  background-color: var(--tertiary-color);
}

#search-input {
  font-size: 2em;

  width: 50%;

  color: var(--primary-color);
  border: none;
  outline: none;
  background: transparent;
}

#search-input::placeholder {
  color: var(--input-placeholder);
}
