.auth-section__container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  color: #fff;
}

.auth-page__form {
  margin-top: 15px;
  width: 50%;
}

.auth-section__header h1 {
  font-size: 48px;
}

#auth-page__switch-mode-button {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  outline: none;
  color: #fff;
  margin-left: 5px;
  transition: 0.3s all ease-in-out;
}

#auth-page__switch-mode-button:hover {
  background: rgba(0, 0, 0, 0.2);
}
