.auth-section__container {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 100%;
  margin-left: 10%;

  color: var(--primary-color);

  justify-content: center;
}

.auth-page__form {
  width: 50%;
  margin-top: 15px;
}

.auth-section__header h1 {
  font-size: 48px;
}

#auth-page__switch-mode-button {
  font-size: 16px;
  font-weight: 600;

  margin-left: 5px;

  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-decoration: underline;

  color: var(--accent-color);
  border: none;
  outline: none;
  background: transparent;
}

#auth-page__switch-mode-button:hover {
  background: rgba(0, 0, 0, 0.2);
}
