.Button {
  border: 3px solid transparent;
  font-size: 1em;
  padding: 12px 30px;
  background: #ff6403;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 15px 0;
  outline: none;
}

.Button:hover {
  color: #ff6403;
  background: transparent;
  border: 3px solid #ff6403;
}

.Button:disabled,
.Button:hover:disabled,
.Button:active:disabled {
  background: #ff6403b6;
  color: #979797;

  cursor: not-allowed;
}
