.Button {
  font-size: 1em;
  padding: 20px 30px;
  background: var(--accent-color);
  font-weight: 600;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 15px 0;
  outline: none;
  border: none;
  border-radius: 15px;
}

.Button:hover {
  background: var(--hover-color);
}

.Button:disabled,
.Button:hover:disabled,
.Button:active:disabled {
  background: var(--button-disabled-color);
  color: rgb(214, 211, 211);

  cursor: not-allowed;
}
