.Button {
  border: 3px solid transparent;
  font-size: 1em;
  padding: 12px 30px;
  background: #333333;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 15px 0;
  outline: none;
}

.Button:hover {
  color: #333333;
  background: transparent;
  border: 3px solid #333333;
}

.Button:disabled,
.Button:hover:disabled,
.Button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
