.add-button {
  display: flex;
  flex-direction: column;

  height: 583.89px;

  cursor: pointer;
  transition: 0.2s all ease-in-out;

  border-radius: 5%;
  background: var(--tertiary-color);

  justify-content: center;
  align-items: center;
}

.add-button h1 {
  margin-top: -60px;
}

.add-button:hover {
  background: var(--city-hover-color);
}
