.city {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  cursor: pointer;
  transition: 0.2s all linear;
  text-align: center;
  border-radius: 5%;
  background-color: var(--tertiary-color);
  justify-content: center;
  align-items: center;
}

.city:hover {
  background-color: var(--city-hover-color);
}

.city__footer {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.city__animation {
  position: relative;
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.city__temperature h4 {
  margin-bottom: -10px;
}
