:root {
  --primary-color: #172633;
  --accent-color: #ff5577;
  --secondary-color: rgb(245, 245, 245);
  --tertiary-color: rgb(225, 225, 225);
  --city-hover-color: rgb(205, 205, 205);
  --hover-color: rgba(252, 74, 110, 0.753);
  --button-disabled-color: #db4a67;
  --input-placeholder: #2a465fb6;
  --font-size-large: 46px;
  --font-size-link: 16px;
  --font-size-logo: 22px;
  --font-size-button: 1em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  overflow-x: hidden;
  background: var(--secondary-color);
}

button,
input {
  font-family: Poppins;
}

h4,
p {
  font-weight: 100;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Regular.ttf) format("truetype");
}
