* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Foco";
  src: local("Foco"), url(./fonts/Foco-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gotham";
  src: local("Foco"), url(./fonts/GothamLight.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  overflow-x: hidden;
  background: #0379ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
