:root {
  --primary-color: #172633;
  --accent-color: #ff5577;
  --secondary-color: #eaf1f3;
  --tertiary-color: #d9dedf;
  --hover-color: rgba(252, 74, 110, 0.753);
  --button-disabled-color: #db4a67;
  --input-placeholder: #2a465fb6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  overflow-x: hidden;
  background: var(--secondary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Foco";
  src: local("Foco"), url(./fonts/Foco-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gotham";
  src: local("Foco"), url(./fonts/GothamLight.ttf) format("truetype");
}
