@media screen and (max-width: 500px) {
  #root {
    height: 100vh;
  }

  main {
    height: 100%;
  }

  main .container {
    height: 90vh;
  }

  /* Header */

  #root .header {
    padding: 20px 30px;
    display: flex;
  }
  #root .header a {
    display: block;
    float: none;
    padding: 12px;
    text-align: left;
  }
  #root .header-right {
    float: none;
  }

  .main-navigation__header-nav {
    display: none;
  }

  .header #drawer-button {
    display: block;
  }

  .header #drawer-button img {
    height: 40px;
    width: auto;
    margin-right: 15px;
  }

  .main-navigation__drawer-nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #drawer-hook .side-drawer {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 70%;
    background: rgb(245, 245, 245);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  #drawer-hook .side-drawer .header-right {
    float: none;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /* Landing Page */
  .wrapper .landing-description {
    margin-left: 0;
    width: 100%;
  }

  .wrapper .landing-description a {
    align-self: flex-end;
  }

  .wrapper .animation {
    display: none;
  }

  /*** --- ***/

  /* Auth Page */
  .wrapper .rainbow-container {
    display: none;
  }

  .wrapper .auth-section__container {
    margin-left: 0;
    width: 100%;
  }

  .wrapper .auth-page__form {
    width: 100%;
  }

  #auth-button {
    width: 100%;
    margin: 25px auto;
  }

  /*** --- ***/

  /* Home Page */

  main .container {
    margin: 0px auto 0px auto;
  }

  .container .owl-item {
    width: 290px !important;
  }

  .container .owl-nav {
    display: none !important;
  }

  /*** --- ***/

  /* Search Page */
  .search-container .search-wrapper {
    width: 100%;
  }

  .search-container .search-wrapper #search-input {
    width: 100%;
  }
  /*** --- ***/

  /* Forecast PAGE */

  .wrapper.forecast-container h1 {
    font-size: 36px;
  }

  .wrapper.forecast-container h2 {
    font-size: 26px;
  }

  .forecast-container__bottom .mini-forecast h4,
  .forecast-container__bottom .mini-forecast h3 {
    margin: 0;
  }

  main .wrapper.forecast-container {
    margin: 0 auto;
    justify-content: flex-start;
  }

  .forecast-container__top {
    margin-bottom: 20px;
  }

  .forecast-container__top__right .forecast__current-weather__animation {
    display: none;
  }

  .forecast-container__bottom .mini-forecast {
    padding-top: 0;
    height: 80%;
  }

  .forecast-container__top__right h2 {
    display: none;
  }

  /*** --- ***/
}
